/******************************************************************
 * See the NOTICE file distributed with this work for additional  *
 * information regarding Copyright ownership.  The author/authors *
 * license this file to you under the terms of the Apache License *
 * Version 2.0 (the "License"); you may not use this file except  *
 * in compliance with the License.  You may obtain a copy of the  *
 * License at:                                                    *
 *                                                                *
 *     http://www.apache.org/licenses/LICENSE-2.0                 *
 *                                                                *
 * Unless required by applicable law or agreed to in writing,     *
 * software distributed under the License is distributed on an    *
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,   *
 * either express or implied.  See the License for the specific   *
 * language governing permissions and limitations under the       *
 * License.                                                       *
 ******************************************************************/

/* TeamCity Status Widget */
table.tcTable {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    font: 80% "Helvetica Neue", Arial, sans-serif;
}

table.tcTable tr {
    vertical-align: top;
}

table.tcTable td {
    padding-bottom: 5px;
}

/*----------- Components*/
table.tcTable div.projectName {
    /* UNCOMMENT TO REMOVE PROJECT NAME FROM THE EMBEDLET */
    display: none;

    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    font-size: 130%;
}

table.tcTable td.buildConfigurationName {
    font-weight: bold;
    padding-right: 10px;
}

table.tcTable td.buildNumberDate {
    /* UNCOMMENT TO REMOVE BUILD NUMBER AND DATE FROM THE EMBEDLET */
    /*display:none;*/

    padding-right: 10px;
}

table.tcTable td.buildResults {
    /* UNCOMMENT TO REMOVE BUILD RESULTS/ARTIFACTS LINK FROM THE EMBEDLET */
    display: none;
}

table.tcTable td.buildNumberDate div.teamCityDateTime {
    /* UNCOMMENT TO REMOVE THE LAST BUILD DATE FROM THE EMBEDLET */
    /*display:none;*/

    color: #696B71;
}

table.tcTable span.teamCityIcon {
    white-space: nowrap;
}

/*------- Appearance */
table.tcTable img {
    vertical-align: top;
}

table.tcTable a {
    color: #1564C2;
    text-decoration: none;
}

table.tcTable a:hover {
    text-decoration: underline;
    color: #1564C2;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
